.sidebar{
    display: flex;
    flex-direction: column;
    flex:0.30;
}
.sidebar_header{
    display: flex;
    justify-content: space-between;
    padding:20px;
    border-right: 1px solid lightblue;
}
.sidebar_header{
    display: flex;
    justify-content: space-between;
    min-width: 100px;
}
.sidebar_search{
    display:flex;
    align-items: center;
    padding:10px;
    background-color: white;
}
.sidebar_search > input {
    border:white;
    margin-left: 10px;
    outline:none;
    width:100%;
}
.sidebar_chats{

    flex:1;
    overflow-x: hidden;
    overflow-y: scroll;
}
